<div class="about">
    <div class="about__content content">
        <p class="content__text">Раньше источником новостей о предстоящих мероприятиях служили доски объявлений, но новые времена требуют новых решений. Наше приложение позволяет мониторить интересные мероприятия и принимать активное участие в жизни компании. Вместе с митапс вы сможете делиться знаниями и собирать вокруг себя единомышленников.
        </p>
        <p class="content__text">Чтобы стать частью MeetUps напиши в телеграмм нашему админу &dArr;</p>
        <a class="content__link" href="https://t.me/alexdarkstalker00" target="_blank"><img [src]="isDark ? '../../../assets/images/dark-sm-mail.svg':'../../../assets/images/sm-mail.svg'"></a>
    </div>
    <img class="about__img" [src]="isDark ? '../../../assets/images/dark-sm-banner.svg':'../../../assets/images/sm-banner.svg'">
</div>
