.search {
    display: flex;
    align-items: center;
    &__input {
        width: 271.86px;
        height: 35px;
        background: var(--pre-main);
        border: 2px solid var(--borders);
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        color: var(--dark);
    }

    &__filter {
        width: 130px;
        height: 35px;
        background: var(--pre-main);
        border: 2px solid var(--borders);
        border-radius: 4px;
        font-size: 16px;
        box-sizing: border-box;
        margin-left: 10px;
        color: var(--dark);
        text-align: center;
        outline: none;
    }
}


